<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewBag.Title</title>
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/logo/logon-cirle.png">
	<link rel="icon" type="image/png" href="~/assets/images/logo/logon-cirle.png" sizes="40x40">

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/adminLTE/plugins/fontawesome-free/css/all.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/adminLTE/dist/css/adminlte.min.css">

	<link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/css/detail-chart.css" rel="stylesheet" asp-append-version="true" />

	<link href="~/lib/bs4-autocomplete/css/bs4-autocomplete.css" rel="stylesheet" />
	<script src="~/js/site.js"></script>
	<script src="https://cdn.tiny.cloud/1/42dtiy8bea71r5k90muoz2djmpqfveqba8m9lh3l3ug1hjtf/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
	@* notify  *@
	<link href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" rel="stylesheet" />
	<link href="~/lib/bs4-toast-snackbar/css/toast-snackbar.css" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
	@RenderSection("head", false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<partial name="_HeaderBar" /> 

		@await Component.InvokeAsync("MainNavBar")

		<div class="content-wrapper">
			<section class="content p-4">

				 <partial name="_Noti" /> 

				<div class="card">
					<div class="card-body px-4" style="background-color: #f4feff">
						@RenderBody()
					</div>
				</div>

			</section>
		</div>

		@await Component.InvokeAsync("ClientFooter")

	</div>
	@RenderSection("print", false)
	@* <partial name="_ChangePassword" model="null" /> *@

	@* Notify  *@
	<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
	<script src="~/lib/bs4-toast-snackbar/js/toast-snackbar.js"></script>

	<!-- jQuery -->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/adminLTE/dist/js/adminlte.min.js"></script>
	<!-- Validation -->
	<partial name="_ValidationScriptsPartial" />
	<!-- Thư viện modal -->
	<script src="~/lib/bs4-modal/modal.js"></script>
	<!-- Thư viện autocomplete nhà trồng -->
	<script src="~/lib/bs4-autocomplete/js/bs4-autocomplete.js"></script>
	<!-- Javascript dùng chung -->
	<script src="~/js/site.js" asp-append-version="true"></script>

	@* Role *@
	<script src="~/js/role/create-edit-role.js"></script>
	<script src="~/js/role/delete-role.js"></script>
	@* Chart  *@
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	@* alphinjs *@
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<script src="~/js/alphinjs/alphin.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
	<script>
		AOS.init();
	</script>
	@RenderSection("scripts", false)
</body>
</html>
